<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./script.js"></script>
  <title>aa</title>
</head>
<body>
<main>
  <div id="content">

    <button class="add_money">新規追加</button>

    <div class="row">
      <div class="content_flex">
        <span class="title">昼食代</span>
        <span class="money">500円</span>
      </div>
      <p class="more_area">すき家で牛丼サラダセット並盛り</p>
      <button class="open_tab"><i class="fa fa-angle-down fa-lg" aria-hidden="ture"></i></button>
    </div>

  </div>
</main>
</body>
