main {
  padding: 100px;
}

button {
  outline: none;
}

/* ----- 各支払い明細のwrapper ----- */
.row {
  width: 500px;
  margin: 1em auto;
  padding: 0.5em 1em;
  color: #5d627b;
  background: white;
  border-top: 5px solid #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* ----- タイトルと支払額のためのflex ----- */
.content_flex {
  display: flex;
  justify-content: space-between;
}

.title {
  float: left;
}

.money {
  float: right;
}

/* ----- レコード詳細表示ボタン ----- */
.open_tab {
  font-size: 18px;
  display: block;
  border: 0;
  background: none;
  margin: 0 auto;
}

/* ----- レコード新規追加ボタン ----- */
.add_money {
  display: block;
  margin: 0 auto;
  background: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  width: 450px;
  border: 4px solid #5d627b;
  padding: 0.5em 1em;
  color: #5d627b;
  font-size: 18px;
  margin-bottom: 40px;
}

/* ----- 詳細表示項目 ----- */
.more_area {
  display: none;
}
