main {
  padding: 100px;
}

button {
  outline: none;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #5d627b;
}


/***********************************
/ show_money.html
************************************/
/* ----- 各支払い明細のwrapper ----- */
.row {
  width: 500px;
  margin: 1em auto;
  padding: 0.8em 1em;
  color: #5d627b;
  background: white;
  border-top: 5px solid #4fa85d;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* ----- タイトルと支払額のためのflex ----- */
.content_flex {
  display: flex;
  justify-content: space-between;
}

.category {
  float: left;
}

.money {
  float: right;
}

/* ----- レコード詳細表示ボタン ----- */
.open_tab {
  font-size: 18px;
  display: block;
  border: 0;
  background: none;
  margin: 0 auto;
}

/* ----- ナビゲーション欄 ----- */
.nav {
  display: flex;
  justify-content: center;
}

/* ----- レコード新規追加ボタン ----- */
.add_money {
  text-align: center;
  background: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  width: 420px;
  border: 4px solid #5d627b;
  padding: 0.5em 1em;
  color: #5d627b;
  font-size: 18px;
  margin-bottom: 40px;
}

/* ----- 設定ページのリンクボタン ----- */
.fa-cog {
  border: 4px solid #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  margin-left: 5px;
  width: 50px;
  text-align: center;
  padding-top: 7px;
  height: 38px;
}

/* ----- 詳細表示項目 ----- */
.more_area {
  padding: 0.5em;
  margin-bottom: -10px;
  border-top: 1px solid #ccc;
  display: none;
}


/***********************************
/ add_money.html
************************************/
/* ----- 入力欄 ----- */
.add_wrapper {
  width: 470px;
  border-top: 15px solid #5d627b;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
 }

.add_wrapper p {
  margin-top: 20px;
  margin-bottom: 0;
}

.add_formarea {
  width: 300px;
  margin: 0 auto;
}

.inp, .tarea {
  display: block;
  width: 300px;
  height: 30px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #5d627b;
  margin-bottom: 10px;
  opacity: 0.8;
  outline: 0;
  background: none;
}

.tarea{
  border: 1px solid #5d627b;
  width: 298px;
  height: 80px;
  resize: none;
}

/* ----- ボタン ----- */
.btn {
  display: block;
  border: 2px solid #01bf2a;
  width: 300px;
  padding: 10px 0;
  background: #01bf2a;
  color: white;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 7px 0 #00991e;
}

.btn:hover {
  position: relative;
  box-shadow: 0 4px 0 #00991e;
  top: 3px;
}

.btn.back {
  padding: 0 0 5px 0;
  width: 90px;
  text-align: center;
  box-shadow: none;
  background: none;
  border: 0;
  color: #5d627b;
  border-bottom: 1px solid #00991e;
}

.btn.back:hover {
  position: static;
}
