{% extends "base.html" %}

{% block title %}MoneyFly - 旅立ったお金の記録{% endblock %}

{% block content %}
<main>
  <div class="add_wrapper">
    <div class="add_formarea">
      <form action="{{ url_for('add_money') }}" method="POST">
        <p>カテゴリー</p>
        <select class="inp" name="category">
          {% for category in insert[0] %}
          <option value="{{ category.id }}">{{ category.category }}</option>
          {% endfor %}
        </select>
        <p>金額</p>
        <input class="inp" type="number" name="money" required>
        <p>備考</p>
        <textarea class="tarea" name="note"></textarea>
        <p>日付</p>
        <input class="inp" type="date" name="art_date" value="{{ insert[1][0] }}" required>
        <button class="btn" type="submit">追加</button>
      </form>
    </div>
  </div>
  <a class="btn back" href="{{ url_for('show_money') }}">
    戻る
  </a>

</main>
{% endblock %}
