{% extends "base.html" %}

{% block title %}MoneyFly{% endblock %}

{% block content %}
<main>
  <div id="content">

    <button class="add_money">新規追加</button>

    {% for money in moneys[0] %}
    <div class="row">
      <div class="content_flex">
        <span class="title">{{ money.title }}</span>
        <span class="money">{{ money.money }}円</span>
      </div>
      {% if money.note != "" %}
        <p class="more_area">{{ money.note }}</p>
        <button class="open_tab"><i class="fa fa-angle-down fa-lg" aria-hidden="ture"></i></button>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
