{% extends "base.html" %}

{% block title %}MoneyFly{% endblock %}

{% block content %}
<main>
  <div class="nav">
    <a class="add_money" href="{{ url_for("add_money") }}">
      新規追加
    </a>
    <a class="fa fa-cog fa-2x" href="{{ url_for("sys_config") }}"></a>
  </div>

  {% for money in moneys[0] %}
  <div class="row">
    <div class="content_flex">
      <span class="category">{{ money.category }}</span>
      <span class="money">{{ money.money }}円</span>
    </div>
    {% if money.note != "" %}
      <p class="more_area">{{ money.note }}</p>
      <button class="open_tab"><i class="fa fa-angle-down fa-lg" aria-hidden="ture"></i></button>
    {% endif %}
  </div>
  {% endfor %}
</main>
{% endblock %}
