{% extends "base.html" %}

{% block title %}MoneyFly{% endblock %}

{% block content %}
<main>
  <div id="content">
    <h1>使用額一覧</h1>
      {% for money in moneys[0] %}
        <p>{{ money.title }} | {{ money.money }}円 | {{ money.note }}</p>
      {% endfor %}

    <form method="POST" action="{{ url_for("add_money") }}">
      <input type="text" name="title">
      <input type="number" name="money">
      <textarea name="note"></textarea>
      <button type="submit">送信</button>
    </form>
  </div>
</main>
{% endblock %}
